# Ignore build artifacts
/target/

# Ignore Windows debug files
*.pdb

# Ignore rustfmt backup files
**/*.rs.bk

# Ignore macOS system files
.DS_Store

# Ignore environment files (specifically API keys and secrets)
.env
# Other tool specific ignores
gemini.md
