# Ignore build artifacts
/target/

# Ignore Windows debug files
*.pdb

# Ignore rustfmt backup files
**/*.rs.bk

# Ignore macOS system files
.DS_Store

# Ignore environment files (specifically API keys and secrets)
.env
# Other tool specific ignores
gemini.md
1.5MB-1024X512.bmp
1.14MB-2295X1034.gif
1.99MB-2295X1034.png
10.3MB-16896X1930.jpg
244KB-1024X512.gif
abacus-off.svg
A_photograph_of_a_celebrity_amoeba._b72867dd-804a-41fb-8097-15b3d13ad337 512x512.jpg
